<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{keyword}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let x of countryInfo">
    <img src="{{x.flags.png}}" />
    <ion-card-header>
      <ion-card-title>{{x.name.official}}</ion-card-title>
      </ion-card-header>
      <ion-button expand="block" fill="outline" (click)="openNews()">NEWS</ion-button>
      <ion-button expand="block" fill="outline" (click)="openWeather()">WEATHER</ion-button>
  </ion-card>
</ion-content>
