<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ keyword }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loop through the list of countries and display each country -->
  <ion-card *ngFor="let country of countryInfo">
    <img [src]="country.flags.png" alt="Flag" />
    <ion-card-header>
      <ion-card-title>{{ country.name.official }}</ion-card-title>
    </ion-card-header>

    <!-- When clicking "NEWS", store the cca2 of the selected country and navigate to the News page -->
    <ion-button expand="block" fill="outline" (click)="openNews(country)">NEWS</ion-button>
    <ion-button expand="block" fill="outline" (click)="openWeather(country)">WEATHER</ion-button>
  </ion-card>
</ion-content>
