<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00411234
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <img src="assets/icon/settings.png" alt="Settings" style="width: 24px; height: 24px;"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Enter Country" placeholder="Country name" [(ngModel)]="keyword"></ion-input>
  <ion-button expand="block" (click)="openCountries()">Search</ion-button>
</ion-content>
